accelerate==1.13.0
aiobotocore==3.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aioimaplib==2.0.1
aioitertools==0.13.0
aiosignal==1.4.0
aiosqlite==0.22.1
aistudio-sdk==0.3.8
alabaster==1.0.0
altair==6.0.0
altgraph==0.17.5
amqp==5.3.1
anaconda-auth==0.14.1
anaconda-catalogs==0.2.0
anaconda-cli-base==0.8.2
anaconda-client==1.14.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
apify_fingerprint_datapoints==0.12.0
appdirs==1.4.4
APScheduler==3.11.2
arcade==3.3.3
archspec==0.2.5
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
assemblyai==0.59.0
astc-encoder-py==0.1.12
astroid==4.0.4
astropy==7.2.0
astropy-iers-data==0.2026.4.13.0.58.2
asttokens==3.0.1
async-lru==2.3.0
asyncssh==2.22.0
atomicwrites==1.4.0
attrs==26.1.0
Automat==25.4.16
autopep8==2.0.4
av==17.0.1
babel==2.18.0
bce-python-sdk==0.9.70
bcrypt==5.0.0
beautifulsoup4==4.14.3
billiard==4.2.4
binaryornot==0.6.0
black==26.3.1
bleach==6.3.0
blinker==1.9.0
blosc2==4.1.2
bokeh==3.9.0
boltons==25.0.0
botocore==1.42.84
Bottleneck==1.6.0
brotli==1.2.0
browserforge==1.2.4
cachetools==7.0.5
camoufox==0.4.11
cattrs==26.1.0
celery==5.6.3
certifi==2026.2.25
cffi==2.0.0
chardet==7.4.3
charset-normalizer==3.4.7
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
clip @ git+https://github.com/ultralytics/CLIP.git@81ff68ed7ffcac3b40484c914f104f816757308d
cloudpickle==3.1.2
colorama==0.4.6
colorcet==3.1.0
colorlog==6.10.1
comm==0.2.3
conda-pack==0.9.1
conda-package-handling==2.4.0
conda_index==0.10.0
conda_package_streaming==0.12.0
constantly==23.10.4
contourpy==1.3.3
cookiecutter==2.7.1
crc32c==2.8
cryptography==46.0.7
cssselect==1.4.0
ctranslate2==4.7.1
curl_cffi==0.15.0
customtkinter==5.2.2
cycler==0.12.1
Cython==3.2.4
cytoolz==1.1.0
darkdetect==0.8.0
dask==2026.3.0
dask-expr==2.0.0
datasets==4.8.4
datashader==0.19.0
DAWG-Python==0.7.2
dearpygui==2.3
debugpy==1.8.20
decompyle3==3.9.3
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
diff-match-patch==20241021
diffusers==0.37.1
dill==0.4.1
distributed==2026.3.0
distro==1.9.0
docopt==0.6.2
docstring-to-markdown==0.17
docutils==0.22.4
docx2pdf==0.1.8
dpkt==1.9.8
es3-modifier==0.1.0
-e git+https://github.com/lReDragol/esc-captcha.git@2f3a1ac2e64609a1f584a2ec05a13b2e5f40c4e1#egg=esc_captcha_lab
et_xmlfile==2.0.0
etcpak==0.9.15
evalidate==2.1.4
executing==2.2.1
ezdxf==1.4.3
fastapi==0.135.3
faster-whisper==1.2.1
fastjsonschema==2.21.2
feedparser==6.0.12
filelock==3.29.0
flake8==7.1.2
Flask==3.1.3
flatbuffers==25.12.19
fmod_toolkit==0.1.3
fonttools==4.62.1
fqdn==1.5.1
frida==17.9.1
frida-tools==14.8.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2026.3.0
ftfy==6.3.1
future==1.0.0
geoip2==5.2.0
gitdb==4.0.12
GitPython==3.1.46
gmpy2==2.3.0
greenlet==3.4.0
h11==0.16.0
h5py==3.16.0
HeapDict==1.0.1
hf-xet==1.4.3
holoviews==1.22.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface_hub==1.11.0
hvplot==0.12.2
hyperlink==21.0.0
idna==3.12
ImageHash==4.3.2
ImageIO==2.37.3
imagesize==2.0.0
imbalanced-learn==0.14.1
importlib_metadata==9.0.0
Incremental==24.11.0
inflection==0.5.1
iniconfig==2.3.0
intake==2.0.9
intel-cmplr-lib-ur==2025.3.3
intel-openmp==2025.3.3
intervaltree==3.2.1
invoke==3.0.3
ipykernel==6.31.0
ipymarkup==0.9.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
isort==8.0.1
itemadapter==0.13.1
itemloaders==1.4.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jedi==0.19.2
jellyfish==1.2.1
Jinja2==3.1.6
jinja2-time==0.2.0
jiter==0.14.0
jmespath==1.1.0
joblib==1.5.3
json5==0.14.0
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
keyring==25.7.0
kiwisolver==1.5.0
kombu==5.6.2
language-tags==1.2.0
lark==1.3.1
lazy-loader==0.5
lckr_jupyterlab_variableinspector==3.2.4
libarchive-c==5.3
librt==0.9.0
lief==0.17.6
linkify-it-py==2.1.0
llvmlite==0.47.0
lmdb==2.2.0
locket==1.0.0
lolzteam==2.0.21
lsprotocol==2025.0.0
lxml==6.1.0
lxml_html_clean==0.4.4
lz4==4.4.5
lzstring==1.0.3
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
maxminddb==3.1.1
mccabe==0.7.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
mistune==3.2.0
mkl==2025.3.1
mkl-service==2.6.1
mkl_fft==2.1.2
mkl_random==1.3.1
ml_dtypes==0.5.4
modelscope==1.36.1
more-itertools==11.0.2
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
multipledispatch==1.0.0
multiprocess==0.70.19
mypy==1.20.1
mypy_extensions==1.1.0
narwhals==2.19.0
natasha==1.6.0
navec==0.10.0
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
ndindex==1.10.1
nest-asyncio==1.6.0
networkx==3.6.1
nltk==3.9.4
notebook==7.5.5
notebook_shim==0.2.4
numba==0.65.0
numexpr==2.14.1
numpy==2.3.5
numpydoc==1.10.0
nvidia-cublas-cu12==12.9.2.10
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cudnn-cu12==9.21.0.82
ollama==0.6.1
onemkl-license==2025.3.1
onnx==1.21.0
onnx-ir==0.2.0
onnxruntime==1.24.4
onnxruntime-gpu==1.24.4
onnxscript==0.6.2
onnxslim==0.1.91
open_clip_torch==3.3.0
openai==2.31.0
openai-whisper==20250625
opencv-contrib-python==4.10.0.84
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
opt-einsum==3.3.0
orjson==3.11.8
outcome==1.3.0.post0
overrides==7.7.0
packaging==26.1
paddleocr==3.5.0
paddlepaddle==3.3.1
paddlex==3.5.0
pandas==3.0.2
pandocfilters==1.5.1
panel==1.8.10
param==2.3.3
paramiko==4.0.0
parsel==1.11.0
parso==0.8.6
partd==1.4.2
pathspec==1.0.4
patsy==1.0.2
pefile==2024.8.26
pexpect==4.9.0
phonenumbers==9.0.28
pickleshare==0.7.5
pillow==11.3.0
pkce==1.0.3
pkginfo==1.12.1.2
platformdirs==4.9.6
playwright==1.58.0
playwright-stealth==2.0.3
plotly==6.7.0
pluggy==1.6.0
ply==3.11
polars==1.40.0
polars-runtime-32==1.40.0
poyo==0.5.0
pproxy==2.7.9
prettytable==3.17.0
prometheus_client==0.25.0
prompt_toolkit==3.0.52
propcache==0.4.1
Protego==0.6.0
protobuf==7.34.1
psutil==7.2.2
psycopg==3.3.3
psycopg-binary==3.3.3
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyaes==1.6.1
pyarrow==23.0.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pyclipper==1.4.0
pycodestyle==2.12.1
pycosat==0.6.6
pycparser==3.0
pycryptodome==3.23.0
pyct==0.6.0
pycurl==7.45.7
pydantic==2.13.0
pydantic-settings==2.13.1
pydantic_core==2.46.0
pydeck==0.9.1
PyDispatcher==2.0.7
pydocstyle==6.3.0
pyee==13.0.1
pyerfa==2.0.1.5
pyflakes==3.2.0
pyfmodex==0.7.2
PyGithub==2.9.1
pyglet==2.1.14
Pygments==2.20.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
PyJWT==2.12.1
pylint==4.0.5
pylint-venv==3.0.4
pyls-spyder==0.4.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pymunk==6.9.0
PyMuPDF==1.27.2.2
PyNaCl==1.6.2
pyodbc==5.3.0
pyOpenSSL==26.0.0
pyparsing==3.3.2
pypdfium2==5.7.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
Pyrogram==2.0.106
pyserial==3.5
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
PySocks==1.7.1
pyte==0.8.2
pytest==9.0.3
pytest-asyncio==1.3.0
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-json-logger==4.1.0
python-lsp-black==2.0.0
python-lsp-jsonrpc==1.1.2
python-lsp-ruff==2.3.1
python-lsp-server==1.14.0
python-multipart==0.0.26
python-slugify==8.0.4
pytiled_parser==2.2.9
pytokens==0.4.1
pytoolconfig==1.3.1
pytz==2026.1.post1
pyuca==1.2
pyviz_comms==3.0.6
PyWavelets==1.9.0
pywin32==311
pywin32-ctypes==0.2.3
pywinpty==3.0.3
PyYAML==6.0.2
pyzmq==27.1.0
QDarkStyle==3.2.3
qstylizer==0.2.4
QtAwesome==1.4.2
qtconsole==5.7.2
QtPy==2.4.3
queuelib==1.9.0
rapidocr-onnxruntime==1.2.3
razdel==0.5.0
readability-lxml==0.8.4.1
readchar==4.2.2
redis==6.4.0
referencing==0.37.0
regex==2026.4.4
requests==2.33.1
requests-file==3.0.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==15.0.0
roman-numerals==4.1.0
roman-numerals-py==4.1.0
rope==1.14.0
rpds-py==0.30.0
rsa==4.9.1
rtree==1.4.1
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
ruff==0.15.10
s3fs==2026.3.0
safetensors==0.7.0
scapy==2.7.0
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
Scrapy==2.15.0
screeninfo==0.8.1
seaborn==0.13.2
selenium==4.43.0
semver==3.0.4
Send2Trash==2.1.0
sentencepiece==0.2.1
service-identity==24.2.0
setuptools==81.0.0
sgmllib3k==1.0.0
shapely==2.1.2
shellingham==1.5.4
shiboken6==6.11.0
sip==6.15.3
six==1.17.0
sklearn-compat==0.1.5
slovnet==0.6.0
smmap==5.0.3
sniffio==1.3.1
snowballstemmer==3.0.1
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.8.3
spark-parser==1.9.0
Sphinx==9.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spyder==6.1.4
spyder-kernels==3.1.4
SQLAlchemy==2.0.49
stack-data==0.6.3
starlette==1.0.0
statsmodels==0.14.6
streamlit==1.56.0
superqt==0.8.1
sympy==1.14.0
tables==3.11.1
tabulate==0.10.0
tbb==2022.3.1
tblib==3.2.2
tcmlib==1.4.1
telesign==4.0.1
telesignenterprise==4.0.1
Telethon==1.43.2
tenacity==9.1.4
terminado==0.18.1
text-unidecode==1.3
textdistance==4.6.3
texture2ddecoder==1.0.6
threadpoolctl==3.6.0
three-merge==0.1.1
tifffile==2026.4.11
tiktoken==0.12.0
timm==1.0.26
tinycss2==1.5.1
tldextract==5.3.1
tokenizers==0.22.2
toml==0.10.2
tomli==2.4.1
tomlkit==0.14.0
toolz==1.1.0
torch==2.11.0+cu126
torchaudio==2.11.0
torchvision==0.26.0+cu126
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
transformers==5.5.4
trio==0.33.0
trio-websocket==0.12.2
truststore==0.10.4
Twisted==25.5.0
twisted-iocpsupport==25.10.1
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
tzlocal==5.3.1
ua-parser==1.0.2
ua-parser-builtins==202603
uc-micro-py==2.0.0
ujson==5.12.0
ultralytics==8.4.39
ultralytics-thop==2.0.18
umf==1.0.3
Unidecode==1.4.0
UnityPy==1.25.0
uri-template==1.3.0
urllib3==2.6.3
uvicorn==0.44.0
vine==5.1.0
vonage-jwt==1.1.5
vonage-utils==1.1.4
w3lib==2.4.1
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.6.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==13.1
Werkzeug==3.1.8
whatthepatch==1.0.7
widgetsnbextension==4.0.15
win-inet-pton==1.1.0
wrapt==2.1.2
wsproto==1.3.2
xarray==2026.4.0
xdis==6.1.7
xlwings==0.35.1
xxhash==3.6.0
xyzservices==2026.3.0
yapf==0.43.0
yargy==0.16.0
yarl==1.23.0
yt-dlp==2026.3.17
zict==3.0.0
zipp==3.23.1
zope.interface==8.3
zstandard==0.25.0
